[submodule "third_party/sunshine"]
	path = third_party/sunshine
	url = https://github.com/LizardByte/Sunshine.git
[submodule "third_party/moonlight-qt"]
	path = third_party/moonlight-qt
	url = https://github.com/moonlight-stream/moonlight-qt.git
